[Unit]
Description=GadgetPi startup service
After=usbGadget.service

[Service]
Restart=always
RestartSec=5s
Type=exec
ExecStart=/usr/bin/python3 -u /home/pi/dev/inky-gadget/GadgetPiStartup.py

[Install]
WantedBy=multi-user.target  
