[Unit]
Description=USB Gadget init service

[Service]
Type=exec
ExecStart=/home/pi/dev/inky-gadget/usbGadget.sh

[Install]
WantedBy=multi-user.target

